body {
  font-family: 'Oswald', sans-serif;
  background: #222222;
}
footer {
  background: #222222;
  color: #9D9D95;
  height: 50px;
  bottom: 0;
}
footer > div.container-fluid {
  margin-top:40px;
}
.navbar {
  margin-bottom: -20px !important;
}
th {
  color: #898989;
}
td {
  color: #555555;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 4px;
  vertical-align: middle;
}
.jumbotron {
  margin-bottom: 0;
}
.jumbotron p {
  margin-bottom: 0px;
}
.container-fluid {
  margin-right: 40px;
  margin-left: 40px;
}
.btn {
  margin-right: 1px;
}
